//Whole website standards for elements, no classes or ids, not for viewport changed elements

html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 
body{
	margin: 0;
}
@media only screen and (max-width: 720px) {
	body {
		min-width: 300px;
		width: 100%;
	}
}

h1 {
	font-size: 50px;
	font-weight: bold;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 20px;
}
blockquote{
	background-color:peachpuff;
	padding: 50px 100px;
	position: relative;
	p {
		display: block;
	}
	&::before {
		position: absolute;
		top: 32px;
		left: 63px;
		content: '“';
		font-size: 80px;
		color: orange;
		font-family: serif;
	}
}



