//Whole website standards for elements, no classes or ids, not for viewport changed elements

html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 
body{
	margin: 0;
}
@media only screen and (max-width: 720px) {
	body {
		min-width: 300px;
		width: 100%;
	}
	blockquote{
		margin-left: 0;
		margin-right: 0;
	}
}

h1 {
	font-size: 50px;
	font-weight: bold;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 20px;
}
a{
	text-decoration-color:#e6a62c;
}
blockquote{
	padding: 1em 4em;
	position: relative;
	p {
		display: block;
	}
	&::before {
		position: absolute;
		top: 0px;
		left: 10px;
		content: '“';
		font-size: 80px;
		color: orange;
		font-family: serif;
	}
}
cite{
	margin-left: 50%;
	position: relative;
	&::before {
		position: absolute;
		top: -2px;
		left: -20px;
		content:'\2014'
	}
}

li{
	line-height: 1.5em;
}
ul li {
	list-style-type: none;
	position: relative;    /* needed for setting position to absolute in the li::before. */
}
li::before {
	content: '●';
	color: $purple;
	position: absolute;
	left: -1.0em;          /* Adjust this location */
	font-size: 1.0em;      /* Adjust this size. */
}