//this is for classes or ids, use base for the elements

.hilight {
	background-color: $blush;
}
.page{
	padding: 10px;
}
cite{
	outline: 2px solid pink;
	text-align: right;
	margin-left: 50px;
	margin-right: 50px;
}
.title {
	outline: 2px solid orange;
	display: block;
}