//this is for classes or ids, use base for the elements

.hilight {
	background-color: $blush;
}
.page{
	padding: 10px;
}
ul{
	border: 2px solid blue;
}
.cite-name{
	display: block;
}
.cite-title{
	display: block;
}